.cart-img {
  height: 15vh;
  transition: transform 0.3s ease;
}

.cart-img.tilted {
  transform: rotate(-10deg) scale(1.1);
}

.tab-content-cart {
  position: absolute;
  top: 21vh;
  right: 0;
  min-width: 45vw;
  border-top-left-radius: 6.5px;
  border-bottom-left-radius: 6.5px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
}

.tab-itens-cart {
  display: grid;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 100%;
}

.cart-message {
  position: fixed;
  top: 13vh;
  right: 5vw;
  min-width: 75px;
  width: 10vw;
  padding: 4px;
  border-radius: 10px;
  border-top-right-radius: 0;
  text-align: center;
}
