.login-profile-container {
  width: 100%;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
}

.login-profile-title {
  width: 30%;
  min-width: 200px;
  background-color: #f04134;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  height: 5vh;
  max-height: 40px;
  min-height: 30px;
  color: #fff;
  font-size: larger;
  text-align: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  position: fixed;
  z-index: 998;
  box-shadow: 0 0 6px 0 #555;
}

.login-profile-title span {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-profile-title figure img {
  height: 25px;
  width: 25px;
  margin-top: 3px;
}

.login-profile {
  margin-top: 46px;
  height: 22.5vh;
  max-height: 200px;
  min-height: 115px;
  width: 40vw;
  min-width: 200px;
  max-width: 300px;
  background-color: #fef0ef;
  border: #f04134 solid 2px;
  border-radius: 10px;
  border-top-left-radius: 0;
  padding: 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 6px 0 #555;
}

.login-margin {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 6px 0;
}

.login-profile h1 {
  font-size: larger;
}

.login-profile button {
  font-size: larger;
  background-color: #f04134;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  min-width: 170px;
  height: 4vh;
  min-height: 25px;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3px;
}

.login-profile button:focus {
  background-color: #df2e22;
}

.login-profile button:active {
  background-color: #df2e22;
}

.login-profile button figure img {
  margin-top: 3px;
  height: 22px;
  width: 22px;
}

.login-profile-open-store {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
