.login-profile-container {
  width: 100%;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
}

.login-profile-title {
  width: 30%;
  min-width: 200px;
  background-color: #f04134;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  height: 5vh;
  max-height: 40px;
  min-height: 30px;
  color: #fff;
  font-size: larger;
  text-align: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  position: fixed;
  z-index: 998;
}

.login-profile-title span {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-profile-title figure img {
  height: 25px;
  width: 25px;
  margin-top: 3px;
}

.login-profile {
  margin-top: 46px;
  height: 22.5vh;
  max-height: 200px;
  min-height: 115px;
  width: 40vw;
  min-width: 200px;
  max-width: 300px;
  background-color: #fef0ef;
  border: #f04134 solid 2px;
  border-radius: 10px;
  border-top-left-radius: 0;
  padding: 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-margin {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 6px 0;
}

.login-profile h1 {
  font-size: larger;
}

.login-profile button {
  font-size: larger;
  background-color: #f04134;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  min-width: 170px;
  height: 4vh;
  min-height: 25px;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3px;
}

.login-profile button:focus {
  background-color: #df2e22;
}

.login-profile button:active {
  background-color: #df2e22;
}

.login-profile button figure img {
  margin-top: 3px;
  height: 22px;
  width: 22px;
}

.login-profile-open-store {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Genel stil */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
  display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: #bbb;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: #4caf50;
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
  background-color: #bebebe;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9b9b9b;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
  background-color: #4b4b4b;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}
