.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-contact-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: larger;
  padding: 1vh 3vw 1vh 1vw;
}

.form-contact-title figure img {
  width: 25px;
  height: 25px;
}

.form-contact-payment-method {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  border-top: rgba(0, 0, 0, 0.1) solid 2.5px;
}

.form-contact-payment-method .styled-select {
  font-size: smaller;
  width: 90%;
  height: 4vh;
  min-height: 30px;
  max-height: 36px;
  margin-top: 6px;
}

.form-contact-payment-method .label-select {  
  margin-top: 6px;
}

.form-contact-payment-method .label {  
  margin-top: 16px;
}

.form-contact-payment-method .input {
  font-size: smaller;  
  margin-top: 16px;
  height: 2.25vh;
  min-height: 12.5px;
  max-height: 25px;
  width: 80%;
}

.form-contact-total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  min-width: 200px;
  height: 7.5vh;
  min-height: 25px;
  max-height: 35px;
  border-radius: 10px;
  border-top-right-radius: 0;
  align-items: center;
  box-shadow: 0 0 6px 0 #555;
  border: 2px solid;
  margin-top: 1vh;
  margin-bottom: 6px;
}

.form-contact-total span {
  font-size: medium;
}

.form-contact-total picture img{
  height: 17.5px;
  width: 22.5px;
  margin-top: 3px;
}

.form-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  overflow: auto;
  border-top: rgba(0, 0, 0, 0.1) solid 2.5px;
  border-bottom: rgba(0, 0, 0, 0.1) solid 2.5px;
}

.form-contact-info .label {  
  margin-top: 16px;
}

.form-contact-info .input {
  font-size: smaller;  
  margin-top: 16px;
  height: 2.25vh;
  min-height: 12.5px;
  max-height: 25px;
  width: 80%;
}

.input-bottom {
  margin-bottom: 4px;
}

.form-contact-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1vh 0;
  height: 15vh;
  max-height: 55px;
  min-height: 30px;
  transition: background-color 0.3s;
}

.form-contact-button span {
  font-size: large;
  transition: background-color 0.3s;
}

.form-contact-button figure img {
  height: 30px;
  width: 30px;
}
