.add-delivery-form-container {
  margin-top: 46px;
  width: 30%;
  min-width: 260px;
  max-width: 600px;
  border: #f04134 solid 2px;
  background-color: #f04134;
  border-radius: 10px;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 0 0 6px 0 #555;
  z-index: 998;
}

.add-delivery-form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
  color: #fff;
  width: 90%;
  align-items: center;
}

.add-delivery-form-title span {
  margin: 0 20px 0 4px;
}

.add-delivery-form-title figure img {
  height: 22.5px;
  width: 35px;
  margin-top: 2px;
}

.add-delivery-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #fef0ef;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 0.25vh 0;
  height: 20vh;
  min-height: 125px;
  max-height: 175px;
}

.add-delivery-form-radius {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-evenly;
  border-bottom: rgba(0, 0, 0, 0.1) solid 2.5px;
}

.add-delivery-form-radius form{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.add-delivery-form-radius-input {
  background-color: #f7e0df;
  border: #f04134 solid 2px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  width: 25%;
  max-width: 40px;
  min-width: 20px;
  height: 4vh;
  max-height: 35px;
  min-height: 25px;
  padding: 0.5px 6px;
  margin: 3px 2px;
}

.add-delivery-form-radius-input:active {
  background-color: #f3cac7;
}

.add-delivery-form-radius-input:focus {
  background-color: #f3cac7;
}

.add-delivery-form-radius-km {
  border-bottom: #df2e22 2px solid;
  height: 4vh;
  max-height: 35px;
  min-height: 25px;
  padding: 0.5px 6px;
  margin: 3px 2px;
  align-items: center;
  display: flex;
}

.add-delivery-div-buttons {
  font-size: larger;
  background-color: #f04134;
  color: #fff;
  border-radius: 5px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: smaller;
  padding: 2.5px 7.5px;
}

.add-delivery-div-buttons:focus {
  background-color: #df2e22;
}

.add-delivery-div-buttons:active {
  background-color: #df2e22;
}

.add-delivery-div-buttons figure img {
  margin-top: 3px;
  height: 22px;
  width: 22px;
}

.add-delivery-form-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-delivery-form-button button {
  background-color: #f04134;
  color: #fff;
  border-radius: 5px;
  width: 95%;
  height: 4vh;
  max-height: 35px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.add-delivery-form-button button figure img {
  height: 22px;
  width: 22px;
  margin-top: 3px;
}

.add-delivery-form-button button:focus {
  background-color: #df2e22;
}

.add-delivery-form-button button:active {
  background-color: #df2e22;
}
