.add-delivery-form-container {
  margin-top: 46px;
  width: 30%;
  min-width: 260px;
  max-width: 600px;
  border: #f04134 solid 2px;
  background-color: #f04134;
  border-radius: 10px;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 0 0 6px 0 #555;
  z-index: 998;
}

.add-delivery-form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
  color: #fff;
  width: 90%;
  align-items: center;
}

.add-delivery-form-title span {
  margin: 0 20px 0 4px;
}

.add-delivery-form-title figure img {
  height: 27.5px;
  width: 40px;
  margin-top: 2px;
}

.add-delivery-form {
  display: flex;
  flex-direction: column;
  background-color: #fef0ef;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  align-items: center;
  padding: 5px 0;
}

.add-delivery-form-radius {
  display: flex;
  flex-direction: column;
}

.add-delivery-form-radius form{
  display: flex;
  flex-direction: row;
}