.login-complements-container {
  width: 100%;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
}

.login-complements-title {
  width: 30%;
  min-width: 200px;
  background-color: #f04134;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  height: 5vh;
  max-height: 40px;
  min-height: 30px;
  color: #fff;
  font-size: larger;
  text-align: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  position: fixed;
  z-index: 998;
  box-shadow: 0 0 6px 0 #555;
}

.login-complements-title span {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-complements-title figure img {
  height: 25px;
  width: 35px;
  margin-top: 3px;
}

.login-complements-list {
  margin-top: 90px;
}

.login-complements-items {
  background-color: #f04134;
  border-radius: 9px;
  border-top-left-radius: 0;
  margin-bottom: 1vh;
  border: #f04134 2px solid;
}

.login-complements-items-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  min-height: 25px;
  max-height: 35px;
  color: #f0f0f0;
  padding: 0.25vh 1vw;
}

.login-complements-items-title span{
  width: 10vw;
  max-width: 100px;
  min-width: 75px;
}

.login-complements-items-title div{
  margin: 0 1vw;
  display: flex;
}

.login-complements-items-title button {
  font-size: larger;
  background-color: #f04134;
  color: #fff;
  border-radius: 5px;
  min-width: 30px;
  height: 3vh;
  min-height: 20px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2px;
  border: #f0f0f0 1px solid;
}

.login-complements-items-title button:focus {
  background-color: #df2e22;
}

.login-complements-items-title button:active {
  background-color: #df2e22;
}

.login-complements-items-title button figure img {
  margin-top: 3px;
  height: 16px;
  width: 16px;
}

.login-complements-ul {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.login-complements-ul li{
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  margin: 0 2px;
}

.login-complements-ul li:first-child {
  border-top: none;
}

.login-complements-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2vw;
  padding: 1vh 1vw;
}

.login-complements-title-price{
  display: flex;
  flex-direction: row;
}

.login-complements-title-price span{
  font-size: small;
  color: #262626;
  margin-right: 2vw;
}

.login-complements-title-name {
  width: 35vw;
  min-width: 150px;
}

.login-complements-price {
  width: 7.5vw;
  min-width: 40px;
}

.login-complements-button-up-down button{
  color: #f0f0f0;
  background-color: #f04134;
  border-radius: 100%;
  padding: 1px 5px;
  align-items: center;
  text-align: center;
  margin: 1vh 0.5vw 0 0.5vw;
  display: flex;
}

.login-complements-button-up-down button:focus {
  background-color: #df2e22;
}

.login-complements-button-up-down button:active {
  background-color: #df2e22;
}

.login-complements-button-edit-remove button {
  color: #f0f0f0;
  background-color: #f04134;
  border-radius: 9px;
  padding: 2.5px 5px;
  align-items: center;
  text-align: center;
  margin: 1vh 0.5vw 0 0.5vw;
  display: flex;
}

.login-complements-button-edit-remove button span {
  font-size: xx-small;
}

.login-complements-button-edit-remove button:focus {
  background-color: #df2e22;
}

.login-complements-button-edit-remove button:active {
  background-color: #df2e22;
}

.login-complements-add-button {
  background-color: #f0f0f0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.login-complements-add-button button {
  margin: 0 0 0.5vh 2vw;
  background-color: #f04134;
  border-radius: 5px;
  color: #f0f0f0;
  padding: 2.5px;
  font-size: smaller;
}

.login-complements-add-button button:focus {
  background-color: #df2e22;
}

.login-complements-add-button button:active {
  background-color: #df2e22;
}

@media (max-width: 360px) {
  .login-complements-title-name {
    width: 30vw;
    min-width: 80px;
  }
}
