.styled-select-group {
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.styled-select {
  border: solid 2px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  box-shadow: 0 0 6px 0 #555;
  transition: border-color 0.3s;
  transition: background-color 0.3s;
  transition: color 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 4px;
}

.styled-select select {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  width: 100%;
}

.label-select {
  position: absolute;
  width: 30%;
  min-height: 1.25rem ;
  min-width: 135px;
  left: 2.75rem;
  top: -0.1rem;
  pointer-events: none;
  border-radius: 10px;
  border-top-right-radius: 0;
  transform: translateY(-50%) scale(0.8);
  font-size: large;
  border: 2px solid;
  transition: border-color 0.3s;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

.styled-select-group:active {
  transform: scale(1.02); /* Aumenta o tamanho em 5% no clique */
}

.styled-select-group:focus {
  transform: scale(1.02); /* Aumenta o tamanho em 5% no clique */
}

