.cart-summary {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-summary-span {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
}

.cart-summary
li,
span,
p {
  font-size: medium;
}

.cart-summary h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cart-summary ul {
  list-style: none;
  padding: 8px 6px;
}

.cart-summary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.cart-summary span:first-child {
  font-weight: bold;
}

.cart-summary p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.cart-button {
  height: 10vh;
  border-bottom-left-radius: 5px;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.cart-button h1 {
  font-size: x-large;
  padding: 0 6px;
}

.cart-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.cart-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-delete-item {
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}
