.login-navigation {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .navigation-bar {
    min-width: 50px;
    width: 3vw;
    background-color: #333;
    color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  .navigation-bar.open {
    width: 20%;
    min-width: 230px;
  }
  
  .hamburger {
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  li:hover {
    background-color: #555;
  }
  
  .active {
    background-color: #444;
  }
  
  .content {
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 12px;
    padding-left: 12px;
  }