.main{
  padding-right: 1vw;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin-top: 20vh;
  overflow-y: auto;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

.tab-content-finalize-order {
  position: fixed;  
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 996;
}

.tab-content-finalize-order-massage-container {
  background-color: #f0f0f0;
  border-radius: 10px;
  border-top-left-radius: 0;
  box-shadow: 0 0 8px 0 #555;
  height: 20vh;
  width: 30vw;
  min-width: 250px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab-content-finalize-order-massage {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 2.5px 5px;
}

.button-tab-content-finalize-order {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.button-tab-content-finalize-order picture img {
  height: 30px;
  width: 30px;
}

.tab-content-client-registration {
  position: fixed;  
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  z-index: 999;
  align-items: center;
  box-shadow: 0 0 8px 0 #555;
}

.form-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
  border-right: rgba(0, 0, 0, 0.1) solid 2.5px;
  border-left: rgba(0, 0, 0, 0.1) solid 2.5px;
  width: 50%;
  min-width: 250px;
  max-width: 750px;
  box-shadow: 0 0 1px 0 #555;
}

.form-contact-info .label {  
  margin-top: 16px;
}

.form-contact-info .input {
  font-size: smaller;  
  margin-top: 16px;
  height: 2.5vh;
  min-height: 15px;
  max-height: 30px;
  width: 80%;
}

.client-registration-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: calc(50% + 4px);
  min-width: calc(250px + 4px);
  max-width: calc(750px + 4px);
  padding: 1vh 0;
  height: 15vh;
  max-height: 55px;
  min-height: 30px;
  transition: background-color 0.3s;
  border-radius: 9px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 8px 0 #555;
}

.client-registration-button span {
  font-size: large;
  transition: background-color 0.3s;
}

.client-registration-button figure img {
  height: 30px;
  width: 30px;
}

.client-registration-title{
  display: flex;
  flex-direction: row;
  width: calc(50% + 4px);
  min-width: calc(250px + 4px);
  max-width: calc(750px + 4px);
  border-top-right-radius: 9px;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  max-height: 55px;
  min-height: 30px;
  box-shadow: 0 0 8px 0 #555;
  margin-top: 2.5vh;
}

.client-registration-title figure img {
  height: 40px;
  width: 40px;
  margin: 0 20px;
}

.tab-content-client-found-distance {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 999;
  align-items: center;
  width: 100%;
}

.tab-content-client-found-distance-div {
  width: 30%;
  min-width: 270px;
  max-width: 300px;
  height: 27.5vh;
  min-height: 200px;
  max-height: 300px;
  margin-top: 10px;
  box-shadow: 0 0 10px 0 #555;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 9px;
}

.tab-content-client-found-tiltle {
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  text-align: center;
  border-top-right-radius: 9px;
}

.tab-content-client-found-distance-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7.5px 5px;
  align-items: center;
  text-align: center;
}

.tab-content-client-found-distance-button {
  height: 6vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  font-size: large;
  text-align: center;
  align-items: center;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

.tab-content-client-found-distance-button figure img {
  height: 25px;
  width: 25px;
}

.tab-content-client-found-distance-message {
  box-shadow: 0 0 5px 0 #555;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  padding: 2.5px;
}