.login-form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #fef0ef;
  border: #f04134 solid 3px;
  border-radius: 10px;
  border-top-left-radius: 0;
  width: 50%;
  max-width: 400px;
  min-width: 200px;
  height: 50vh;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.login-form h1{
  font-size: larger;
}

.login-form input{
  background-color: #f7e0df;
  border: #f04134 solid 2px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  width: 95%;
  height: 4vh;
  min-height: 25px;
  padding: 4px;
}

.login-form input:active{
  background-color: #f3cac7;
}

.login-form input:focus{
  background-color: #f3cac7;
}

.login-form input:not(:placeholder-shown) {
  background-color: #f3cac7; /* Cor de fundo quando tiver um valor */
}

.login-form button {
  font-size: larger;
  background-color: #f04134;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  min-width: 170px;
  height: 6vh;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login-form button:active  {
  background-color: #df2e22;
}

.login-form button:focus  {
  background-color: #df2e22;
}

.login-form button figure img {
  margin-top: 3px;
  height: 22px;
  width: 22px;
}
