.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.about-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.about-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.25vh 2vw;
  align-items: center;
  font-size: large;
}

.about-title figure img{
  height: 20px;
  width: 20px;
  margin-top: 3px;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  border-top: rgba(0, 0, 0, 0.1) solid 2.5px;
  border-bottom: rgba(0, 0, 0, 0.1) solid 2.5px;
  font-size: smaller;
  align-items: center;
  text-align: center;
  font-size: smaller;
}

.about-info figure img{
  height: 30px;
  width: 30px;
}