@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}

html, body {
  width: 100vw;
  height: 100vh;

}

a, Link {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Montserrat';
  font-size: x-large;
  font-weight: bold;
}

/* Estilos para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #fafafa; /* Cor do polegar da scrollbar */
  border-radius: 6px; /* Borda arredondada para o polegar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Cor de fundo da trilha da scrollbar */
}
