@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}

html, body {
  width: 100%;
  height: 100vh;
}

a, Link {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Montserrat';
  font-size: x-large;
  font-weight: bold;
}
