.login-client-container {
  width: 100%;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
}

.login-client-title {
  width: 30%;
  min-width: 200px;
  background-color: #f04134;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  height: 5vh;
  max-height: 40px;
  min-height: 30px;
  color: #fff;
  font-size: larger;
  text-align: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  position: fixed;
  z-index: 998;
}

.login-client-title span {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.login-client-title figure img {
  height: 25px;
  width: 35px;
  margin-top: 3px;
}

.login-client-list {
  margin-top: 90px;
}

.login-client-items {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 4px;
}

.login-client-items-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.login-client-items-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-client-items-name figure img{
  height: 15px;
  width: 15px;
}

.login-client-items-title h3 {
  font-size: large;
  width: 35vw;
  min-width: 120px;
  font-weight: bold;
  margin-left: 2vw;
}

.login-client-items-title span {
  font-size: small;
  margin-left: 2vw;
}

.login-client-items  p{
  background-color: #fef0ef;
  align-items: center;
}

.login-client-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-client-buttons div {
  display: flex;
}

.login-client-buttons div button{
  margin-right: 20px;
}

.login-client-buttons button {
  font-size: larger;
  background-color: #f04134;
  color: #fff;
  border-radius: 5px;
  min-width: 36px;
  height: 4vh;
  min-height: 25px;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 4px 0;
}

.login-client-buttons button:focus {
  background-color: #df2e22;
}

.login-client-buttons button:active {
  background-color: #df2e22;
}

.login-client-buttons button figure img {
  margin-top: 3px;
  height: 22px;
  width: 22px;
}