.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 20vh;
  padding-right: 8px;
  padding-bottom: 8px;
  z-index: 998;
}

.logo-img img {
  height: 18vh;
  border-radius: 100%;
  border: 4px solid;
  box-shadow: 0 0 8px 0 #555;
}

.header-open-store {
  position: fixed;
  top: 13vh;
  left: 5vw;
  min-width: 75px;
  width: 10vw;
  padding: 4px;
  border-radius: 10px;
  border-top-left-radius: 0;
  text-align: center;
  border: 2px solid;
  box-shadow: 0 0 5px 0 #555;
}