.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 20vh;
  padding-right: 8px;
  padding-bottom: 8px;
  z-index: 998;
}

.logo-img img {
  height: 20vh;
  border-radius: 100%;
}
