.login-purchase-requests{
  display: flex;
  flex-direction: row;
}

.purchase-requests-indice{
  width: 20vw;
  background-color: #fafafa;
  min-height: calc(100% -8px);
  height: calc(100vh - 8px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.purchase-requests-list{
  width: 20vw;
  background-color: #fafafa;
  overflow: auto;
  height: 70vh;
}

.purchase-request {
  width: 80vw;
  background-color: #ccc;
  min-height: calc(100% -8px);
  height: calc(100vh - 8px);
  overflow: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.purchase-request-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.purchase-request-print{
  display: flex;
  width: 70%;
  justify-content: end;
}

.purchase-request-selected {
  padding: 10px;
  height: 70%;
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
