.hamburger {
  padding-left: 10px;
  padding-top: 10px;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display:flex;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.tab-content {
  position: absolute;
  top: 21vh;
  left: 0;
  display: grid;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 100%;
  padding: 0;
  border-top-right-radius: 6.5px;
  border-bottom-right-radius: 6.5px;
}

.tab-itens {
  min-width: 220px;
  width: 45vw;
  height: 70.8vh;
  border-top-right-radius: 6.5px;
  border-bottom-right-radius: 6.5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

