.search{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 4px 10px;
  width: 30vw;
  min-width: 230px;
}

.search-input {
  width: 25vw;
  min-width: 190px;
}

.search-input::placeholder {
  color: #aaa;
}