.login-promotion-container {
  width: 100%;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
}

.login-promotion-title {
  width: 30%;
  min-width: 200px;
  background-color: #f04134;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  height: 5vh;
  max-height: 40px;
  min-height: 30px;
  color: #fff;
  font-size: larger;
  text-align: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  position: fixed;
  z-index: 998;
  box-shadow: 0 0 6px 0 #555;
}

.login-promotion-title span {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-promotion-title figure img {
  height: 25px;
  width: 35px;
  margin-top: 3px;
}

.login-promotion-category{
  margin-top: 40px;
}
